/* RESET */
@font-face {
    font-family: "coolvetica";
    src: url("./font/coolvetica rg.otf") format("opentype") ;

}

* {
    margin: 0;
    padding: 0;
    font-family: coolvetica;
}

/* HEADER */

header {
    height: 100px;
    background: rgb(47, 47, 47);
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: scale-down;

}

.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;

}

.mostrar-menu, .esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;

}

.menu a:hover, .mostrar-menu:hover, .esconder-menu:hover {

    color: white;
}

#check {
    display: none;
}

/* BANNER */

#banner {

    background-image: url(/images/BackgroundEFWC.jpeg);
    height: 90vh;
    background-size: cover;
    background-position: center;

}

#banner-slider {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 90vh;
    width: 300%;
}

#banner-container {
    position: absolute;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

#banner-container::before {
    content: '';
    background: rgba(77, 77, 77, 0.54);
    position: absolute;
    width: 100%;
    height: 90vh;
    left: 0;
}

.imagenes {
    height: 90vh;
    width: 100%;
}

.banner-img {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

.contenido-banner {
    padding: 10px 20px;
    position: relative;
    color: rgb(240, 240, 240);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-banner h3 {
    font-size: 30px;
    font-weight: 200;
    padding: 10px 0px;
    text-align: center;

}

.contenido-banner h3 span {
    font-weight: 500;
    color: rgb(215, 173, 35);
    -webkit-text-stroke: .5px rgb(133, 103, 1);
}

.btn-empezar {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 5px inset rgb(215, 173, 35);
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.5s;

}

.btn-empezar:hover {
    background: white;
    color: #5d5d5e;
}

/* PEOPLE */

#personas {

    padding: 50px 50px;
    display: inline;
    justify-content: center;
    text-align: center;

}

.contenido-personas {
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenido-IgFrame {
    height: 820px;
    width: 500px;
    overflow: hidden;
}

.IgFrame {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
    border: 0;
    overflow: hidden;
}

.Imagenes-Carrusel {
    display: flex;
    height: 820px;
    width: 70%;
}

.Imagenes-Carrusel img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .65;
    transition: .5s ease;
}

.Imagenes-Carrusel img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.img-ceo {

    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: bottom;

}

.img-empresa {
    width: 100%;
    height: 80%;
    object-fit: scale-down;
    object-position: center;
}

#personas div {
    padding: 30px 30px;
    justify-content: center;


}

.contenido-informacion-sup {
    display: flex;
}

.contenido-informacion {
    width: 70%;
    align-content: center;
}

#personas div h4 {
    color: rgb(41, 40, 35);
    font-size: 25px;
    margin: 15px 0px;

}

#personas div p {
    color: rgb(45, 45, 45);
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    text-align: justify;
}

.btn-saber-mas {
    display: inline-block;
    text-decoration: none;
    color: rgb(41, 40, 35);
    padding: 10px 30px;
    border: 3px solid rgb(41, 40, 35);
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}

.btn-saber-mas:hover {
    background: white;
    color: rgba(140, 140, 140, 0.46);
}

/* Iconos */
#iconos {
    padding: 0px 50px;
    background: rgb(47, 47, 47);

}
#iconos h4{
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 50px;
    font-weight: 100;
}

.contenido-iconos {

    padding: 50px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.contenedor-icono{
    display: block;
    height: 265px;
}

.contenido-iconos div {
    flex: 1;
    margin: 20px 0px;

}


.contenido-iconos div i {
    color: rgb(103, 103, 103);
}

.contenido-iconos div h6 {
    color: rgb(162, 162, 162);
    font-size: 15px;
    font-weight: 100;
    margin: 10px 15px;
    text-align: justify;
}

.contenido-iconos div p {
    color: rgba(255, 255, 255, 0.68);
    font-size: 15px;
}

.container-btn-iconos {
    padding-bottom: 50px;
    text-align: center;
}

.btn-iconos {
    padding: 10px 30px;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;

}

.btn-iconos:hover {
    background: white;
    color: rgba(73, 73, 73, 0.46);
}

/* FORMULARIO */

#contacto {
    background: rgb(215, 173, 35);
    padding: 50px 0px;
    color: white;
}

#contacto h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: lighter;
}

#contacto form {
    max-width: 80%;
    margin: 0 auto;
}

.datos-form {
    display: block;
}

.datos-form div {
    padding: 10px;
    flex: 1;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    background: rgb(41, 40, 35);
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 5px;
    outline: 0;
    color: white;
    width: 100%;


}

form input:focus,
form textarea:focus {
    border-color: grey;
    box-shadow: 0 0 0 1px grey;
}

form input::placeholder,
form textarea::placeholder {
    color: white;
}

.mensaje {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.btn-formulario .btn-saber-mas {
    display: block;
    border: 1px solid white;
    color: white;
    text-align: center;
    transition: 0.4s;
}

.btn-formulario .btn-saber-mas {
    background: rgb(41, 40, 35);

}

/* FOOTER */

footer {
    background: rgb(47, 47, 47);
    color: #cccccc4a;
    text-align: center;
    padding: 10px 0px;
}

/* RESPONSIVE */

@media (max-width: 760px) {
    /* HEADER */
    .mostrar-menu, .esconder-menu {

        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 40, 35);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;


    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;

    }

    #check:checked ~ .menu {
        right: 0;
    }

    /* Banner */
    #banner {
        height: 45vh;
    }

    #banner-slider {
        height: 45vh;
    }

    #banner-container::before {
        height: 45vh;
    }

    .imagenes {
        height: 45vh;
    }

    /* personas */
    #personas {
        flex-direction: column;
    }

    #personas div {
        padding: 30px 20px 30px 23px;
    }

    .contenido-personas {
        padding: 50px 50px 0px 50px;
        text-align: center;
        display: inline;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .contenido-IgFrame {
        height: 500px;
        width: 89%;
        object-position: left;
    }

    .Imagenes-Carrusel {
        display: flex;
        height: 100%;
        width: 89%;
    }

    /* ICONOS */
    .contenido-iconos {
        flex-direction: column;
    }

    .contenido-iconos div {
        border: none;
    }

    /* FORMULARIO */
    .datos-form {
        flex-direction: column;
    }
}